bluetuith/
cef_user_data/
chromium/
dconf/
discord/
glib-2.0/
gtk-3.0/
gtk-4.0/
htop/
kde.org/
looking-glass/
nautilus/
neofetch/
pacseek/
pulse/
QtProject/
ranger/
rofi/
session/
spicetify/
spotify/
systemd/
thefuck/
Thunar/
trizen/
Vencord/
xfce4/
xsettingsd/
dolphinrc
mimeapps.list
user-dirs.dirs 
user-dirs.locale
hosts.yml
gh/
